   <!DOCTYPE html>
   <html>
     <head>
       <title>Your App Name</title>
       <%= csrf_meta_tags %>
       <%= csp_meta_tag %>

       <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
       <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
     </head>

     <body>
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="container">
           <%= link_to "Your App Name", root_path, class: "navbar-brand" %>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarNav">
             <ul class="navbar-nav">
               <li class="nav-item">
                 <%= link_to "Home", root_path, class: "nav-link" %>
               </li>
               <% if session[:user_id] %>
                  <%= link_to 'Выйти', logout_path, method: :delete %>
                    <% else %>
                  <%= button_to 'Войти через GitHub', auth_request_path(:github), method: :post %>
                    <% end %>
             </ul>
           </div>
         </div>
       </nav>

       <div class="container mt-4">
         <%= yield %>
       </div>
     </body>
   </html>
   
